/* Estilização dos links */
a:-webkit-any-link {
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
}

/* Estilização para a página de usuário */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5E42A6;
    color: #FFFFFF;
}

/* Estilização para o menu */
#menu {
    width: 210px;
    height: 100%;
    background-color: #312450; /* Cor de fundo do menu */
    color: #FFFFFF; /* Cor do texto do menu */
    position: fixed;
    top: 0;
    left: 0;
}

#menu ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    text-align: right;
    margin-top: 100%;
    margin-right: 10px;
}

#menu li {
    padding: 10px;
    border-bottom: 1px solid #FFF;
    margin-left: 10px;
}

/* Estilização para o conteúdo */
#conteudo {
    height: 100%;
    margin-left: 200px;
    padding: 20px;
    color: #FFFFFF; /* Cor do texto da página de conteúdo */
    text-align: right; /* Alinhar o conteúdo à direita da div */
}

#conteudo h1,
#conteudo p {
    text-align: center; /* Centralizar o título e o parágrafo */
    margin: 0 auto;
    max-width: 800px; /* Defina a largura máxima desejada */
}

/* Estilo para a div que contém os itens */
#itens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Defina a altura desejada para a área central */
}

#sair {
    color: #5E42A6;
}