/* estilo.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Baskervville;
    background-color: #5E42A6;
}

.form-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

h1 {
    font-size: 24px;
}



.botoes {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074b0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005182;
}

/* Adicione estilos para a barra de progresso */
#progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#progress-indicator {
    height: 100%;
    width: 0;
    background-color: #4caf50; /* Cor inicial da barra de progresso */
}

#stop-button {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para o layout das perguntas 
.pergunta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.pergunta-texto {
    flex: 1;
    margin-right: 20px;
}

.pergunta-imagem {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.alternativas-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.alternativa {
    margin-bottom: 10px;
}
*/
#pergunta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#alternativas {
    
    margin-top: 20px;
}

#alternativas img {
    max-width: 300px;
    margin-right: 20px;
}

.alternativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}